**/classes
**/target
**/.artifacts
**/.cpcache
**/.DS_Store
**/.gradle

# User-specific stuff
.idea/

# File-based project format
*.iws
*.ipr

# Cursive Clojure plugin
.idea/replstate.xml
*.iml

/example/example/**
artifacts
projects/**/pom.xml

# nrepl
.nrepl-port

# clojure-lsp
.lsp/.cache

# clj-kondo
.clj-kondo/.cache

# Calva VS Code Extension
.calva/output-window/output.calva-repl

# docker
docker/volumes

# project
logs
