{:deps {com.taoensso/timbre {:mvn/version "6.5.0"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {poly/http {:local/root "bases/http"}
                               poly/lambda {:local/root "bases/lambda"}
                               poly/server {:local/root "components/server"}
                               poly/db {:local/root "components/db"}
                               poly/user {:local/root "components/user"}
                               poly/routing {:local/root "components/routing"}
                               ;;
                               com.h2database/h2 {:mvn/version "2.2.224"}}}
            :test {:extra-paths ["bases/http/test"
                                 "bases/lambda/test"
                                 "components/server/test"
                                 "components/db/test"
                                 "components/user/test"
                                 "components/routing/test"]
                   :extra-deps {}}
            :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}}}}}
