{:deps {poly/lambda  {:local/root "../../bases/lambda"}
        ;;
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:ns-compile [nimaeskandary.lambda.core]}}}
