{:paths ["src" "resources"]
 :deps {com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.3"}
        com.amazonaws/aws-lambda-java-events {:mvn/version "3.11.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
