{:paths ["src" "resources"]
 :deps {ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        metosin/reitit-core {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-malli {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-ring {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-middleware {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-swagger {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-swagger-ui {:mvn/version "0.7.0-alpha7"}
        metosin/muuntaja-form {:mvn/version "0.6.8"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
