{:aliases {:test {:extra-deps {}, :extra-paths []},
           :uberjar {:main nimaeskandary.http.main}},
 :deps {poly/http {:local/root "../../bases/http"},
        poly/db {:local/root "../../components/db"},
        poly/user {:local/root "../../components/user"},
        poly/server {:local/root "../../components/server"},
        poly/config {:local/root "../../components/config"},
        ;;
        org.clojure/clojure {:mvn/version "1.11.1"}}}
