{:deps {poly/http  {:local/root "../../bases/http"}
        poly/db {:local/root "../../components/db"}
        poly/user {:local/root "../../components/user"}
        poly/server {:local/root "../../components/server"}
        ;;
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
