{:paths ["src" "resources"]
 :deps {com.taoensso/timbre {:mvn/version "6.4.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}
        com.stuartsierra/component     {:mvn/version "1.1.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
