{:deps {poly/web  {:local/root "../../bases/cli"}
        poly/db {:local/root "../../components/db"}
        poly/user {:local/root "../../components/user"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
